body {
    background-color: #F0FFFF;
    font-family: Arial, sans-serif;
}

section {
    max-height: 100%;
    max-width: 100%;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#intro,
#about-me,
#skill,
#experience,
#project {
    height: 100vh;
}