#about-me {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me .container #content {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
}

#image-me {
    max-height: 30%;
    max-width: 30%;
    border: solid;
    border-radius: 15px;
    box-shadow: 5px 5px 8px black;
    /* Agar transformasi bekerja dengan baik */
    transition: transform 0.3s ease, color 0.3s ease;
    margin-right: 40px;
    cursor: pointer;
    background-color: black;
}

#image-me:hover {
    /* zoom in */
    transform: scale(1.1);
}

#about-me #text p {
    margin-top: 25px;
    text-align: left;
}

#about-me #text h2 {
    text-align: center;
    font-weight: lighter;
    cursor: pointer;
}

#about-me #text h2:hover {
    font-weight: bolder;
}

.btn-custom {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px black;
    transition: transform 0.3s ease, color 0.3s ease;
    border: 3px solid black;
}

.btn-custom:hover {
    transform: scale(1.3);
    border: 3px solid black;
}

@media screen and (max-width:1000px) {
    #about-me {
        display: block;
    }

    #about-me .container #content {
        display: block;
    }

    #image-me {
        max-height: 35%;
        max-width: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        transition: none;
    }

    #image-me:hover {
        /* zoom in */
        transform: none;
    }

    #about-me #text h2 {
        margin-top: 25px;
    }

    .btn-custom {
        transition: none;
    }

    .btn-custom:hover {
        transform: none;
    }
}