#intro {
    display: flex;
    align-items: center;

    background-image: url('../assets/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 25%;
}

#intro-content {
    display: inline-block;
    padding-top: 45px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;

    border: 1px;
    border-radius: 15px;
    box-shadow: 7px 7px 10px black;

    color: #ffffff;
    /* background-color: #ffffff; */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/opacity/see-through */

    /* Membuat transisi mulus */
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

#intro-content:hover {
    /* zoom in */
    transform: scale(1.1);
}

#intro-content #text-intro {
    display: inline-block;
    /* Membuat transisi mulus */
    transition: transform 0.3s ease, color 0.3s ease;
}

#intro-content #text-intro:hover {

    /* Mengarahkan teks ke atas */
    transform: translateY(-25px);
}

#intro-content #redirect {
    font-size: 30px;
    /* color: #333; */
    color: #ffffff;
    display: inline-block;
    /* Agar transformasi bekerja dengan baik */
    transition: transform 0.3s ease, color 0.3s ease;
}

#intro-content #redirect:hover {
    transform: translateY(15px);
    /* Mengarahkan teks ke bawah */
}

@media screen and (max-width:1100px) {
    #intro-content {
        margin-left: 0;
        margin-right: 0;
    }
}